<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSH Monitoring</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if not session.logged_in %}
                                <a href="{{ url_for('login') }}" class="navbar-item">
                                    Login
                                </a>
                            {% endif %}
                            {% if session.logged_in %}
                                <a href="{{ url_for('logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            {% endif %}
                            {% if session.logged_in %}
                                <a href="{{ url_for('connections') }}" class="navbar-item">
                                    Connections
                                </a>
                            {% endif %}
                            {% if session.logged_in %}
                                <a href="{{ url_for('sudo_commands') }}" class="navbar-item">
                                    Sudo Commands
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>