{% extends "base.html" %}

{% block content %}
<div class="split left">
  <div class="centered">
    <h1 class="title" style="color: black;">Connected Users</h1>
    <div class="table-container transparent">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Position">Pos</abbr></th>
            <th>User</th>
            <th><abbr title="Protocol">Protocol</abbr></th>
            <th><abbr title="Local_Address">Local Address</abbr></th>
            <th><abbr title="Foreign_Address">Foreign Address</abbr></th>
            <th><abbr title="PID">PID</abbr></th>
          </tr>
        </thead>

        <tbody>
          {% for conn in connections %}
          <tr>
            <th>{{conn['Pos']}}</th>
            <th> <a href="{{conn['User']}}" style="color: rgb(49, 67, 230);"> {{conn['User']}} </a> </th>
            <th>{{conn['Protocol']}}</th>
            <th>{{conn['Local_Address']}}</th>
            <th>{{conn['Foreign_Address']}}</th>
            <th>{{conn['PID']}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <h2>You are connected!</h2>
    <p> (Press the name of the user in the left side to see his commands) </p>
  </div>
</div>
{% endblock %}